Baseline Draft 

# Baseline Specification Document Draft

Draft document for enabling integration 

## Message Headers

See [IETF](https://tools.ietf.org/html/rfc6648#page-4)

Usage of URN Namespace is advised versus `x-content-header`

Namespace informative
[3986](https://tools.ietf.org/html/rfc3986)
Media Type Specifications and Registration Procedures
[6838](https://tools.ietf.org/html/rfc4288)

## REQUIRED

   Although all MIME content types SHOULD be supported, the following
   MIME content types MUST be supported:
```
             Content-type: multipart/signed
             Content-Type: multipart/report
             Content-type: message/disposition-notification
             Content-Type: application/PKCS7-signature
             Content-Type: application/PKCS7-mime
             Content-Type: application/EDI-X12
             Content-Type: application/EDIFACT
             Content-Type: application/edi-consent
             Content-Type: application/XML
```
## Prohibited 

```
      reserved    = gen-delims / sub-delims

      gen-delims  = ":" / "/" / "?" / "#" / "[" / "]" / "@"

      sub-delims  = "!" / "$" / "&" / "'" / "(" / ")"
                  / "*" / "+" / "," / ";" / "="
```

## Naming Requirements
[source](https://tools.ietf.org/html/rfc4288)
   Type and subtype names MUST conform to the following ABNF:

```markdown
       type-name = reg-name
       subtype-name = reg-name

       reg-name = 1*127reg-name-chars
       reg-name-chars = ALPHA / DIGIT / "!" /
                       "#" / "$" / "&" / "." /
                       "+" / "-" / "^" / "_"

```
### Connectivity 

Signing vs. Sealing

   Signing is the process of affixing a digital signature to a message
   as a header field, such as when a DKIM-Signature (as in [RFC6376],
   Section 2.1), an AMS, or an AS is added.  Sealing is when an ADMD
   affixes a complete and valid AD Set to a message to create or
   continue an Authenticated Received Chain.

### Sealer

[source, ARC-Protocol draft](https://datatracker.ietf.org/doc/rfc8617/)

   A Sealer is a node that attaches a complete and
   valid AD Set to a message.

   In general concept terms, a Sealer adds its testimony (assertion of
   authentication assessment) and proof of custody to the chain of
   custody.

#### Baseline Validator
[modified from ARC protocol sense of the term "validator"](https://datatracker.ietf.org/doc/rfc8617/)

   A `Baseline` Validator is a `node` that evaluates an
   `Authenticated Digest` for validity and content.  The process
   of evaluation of the individual `AD` Sets that compose an
   `Authenticated Digest Chain` is described in <SECTION_#>

> note; this can be seen as any sort of oracle system 

   In general concept terms, a Validator inspects the chain of custody
   to determine the content and validity of individual evidence supplied
   by custodians. 

> note the inspection of the `chain of custody` can be determined by various methods, with a "MINIMAL" amount being specified, at least checking of hash. What is sufficient is  debatable and or out of scope. 



### Imported ABNF Tokens

   The following ABNF tokens are imported:

   o  tag-list ([RFC6376], Section 3.2)

   o  authres-payload ([RFC8601], Section 2.2)

   o  CFWS ([RFC5322], Section 3.2.2)

## Message Digest 

```
Message-Id: <1589363107213.301776089@i1QPnY19bDzSIZ1eqhDg5rQXVg==>
Content-Type: multipart/signed;  boundary="----=_Part_8647318_1507019398.1589363107213";  protocol="application/pkcs7-signature"; micalg=sha-256
MIC: hbV8jGZm+vtCY1Qq+1jwg0Sork0+EtPJ77qWvhbVX7w=, sha-256
ORIGINAL_MESSAGE_ID: <OPENAS2-13052020094506+0000-20489103-ddef-4c66-9e08-c35faac305ab@advantage_BLUJAYSOLUTIONSAMER>
<OPENAS2-13052020094506+0000-20489103-ddef-4c66-9e08-c35faac305ab@advantage_BLUJAYSOLUTIONSAMER>
```



## Additional Questions

   Various sorts of optional information could be included in the
   specification of a `media type` if it is available:

   o  Magic number(s) (length, octet values).  Magic numbers are byte
      sequences that are always present at a given place in the file and
      thus can be used to identify entities as being of a given media
      type.

   o  Filename extension(s) commonly used on one or more platforms to
      indicate that some file contains a given media type.

To what end can we include these types?


## INFORMATIVE REF.

# Imported ABNF Tokens

   The formal definition of these header fields is as follows:

     entity-headers := [ content CRLF ]
                       [ encoding CRLF ]
                       [ id CRLF ]
                       [ description CRLF ]
                       *( MIME-extension-field CRLF )

     MIME-message-headers := entity-headers
                             fields
                             version CRLF
                             ; The ordering of the header
                             ; fields implied by this BNF
                             ; definition should be ignored.

     MIME-part-headers := entity-headers
                          [ fields ]
                          ; Any field not beginning with
                          ; "content-" can have no defined
                          ; meaning and may be ignored.
                          ; The ordering of the header
                          ; fields implied by this BNF
                          ; definition should be ignored.

     version := "MIME-Version" ":" 1*DIGIT "." 1*DIGIT


## ABNF Tokens

   The following tokens are imported from other RFCs as noted.  Those
   RFCs should be considered definitive.

   The following tokens are imported from [RFC5321]:

   o  "local-part" (implementation warning: this permits quoted strings)

   o  "sub-domain"

   The following tokens are imported from [RFC5322]:

   o  "field-name" (name of a header field) [RFC5322]

   o  "dot-atom-text" (in the local-part of an email address) [RFC5322]

  The following tokens are imported from [RFC2045]:

   o  "qp-section" (a single line of quoted-printable-encoded text) [RFC2045]

   ABNF

   dkim-quoted-printable =  *(FWS / hex-octet / dkim-safe-char)
                               ; hex-octet is from RFC2045
   dkim-safe-char        =  %x21-3A / %x3C / %x3E-7E
                               ; '!' - ':', '<', '>' - '~'

   tag-list  =  tag-spec *( ";" tag-spec ) [ ";" ]
   tag-spec  =  [FWS] tag-name [FWS] "=" [FWS] tag-value [FWS]
   tag-name  =  ALPHA *ALNUMPUNC
   tag-value =  [ tval *( 1*(WSP / FWS) tval ) ]
                     ; Prohibits WSP and FWS at beginning and end
   tval      =  1*VALCHAR
   VALCHAR   =  %x21-3A / %x3C-7E
                     ; EXCLAMATION to TILDE except SEMICOLON
   ALNUMPUNC =  ALPHA / DIGIT / "_"
                              

### Whitespace

   There are three forms of whitespace:

   o  WSP represents simple whitespace, i.e., space or a tab character
      (formal definition in [RFC5234]).

   o  LWSP is linear whitespace, defined as WSP plus CRLF (formal definition in [RFC5234]).

   o  FWS is folding whitespace.  It allows multiple lines separated by
      CRLF followed by at least one whitespace, to be joined.

   The formal ABNF for these are (WSP and LWSP are given for information
   only):

   WSP =   SP / HTAB
   LWSP =  *(WSP / CRLF WSP)
   FWS =   [*WSP CRLF] 1*WSP



see github.com/freight-trust/protocol